// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Modules Sass
@import "variables";

// Import Base style Sass
@import "base/base";

// Import Modules Sass
@import "modules/news"; 
@import "modules/footer";
@import "modules/front";   
@import "modules/header"; 
@import "modules/menu";  
